<div
  class="media my-border"
  [ngClass]="{'odd-element' : user.role == 0}"
>
  <img
    class="align-self-center mr-3"
    [src]="user.role === 'ADMIN' ? '/assets/img/admin.png' : '/assets/img/user.png'"
    [alt]="user.username"
  >
  <div class="media-body">
    <h3 class="mt-1">{{user.username}}</h3>
    <div class="mt-1">
      <button class="btn btn-success mr-2" (click)="this.onDetailsClicked()">DETAILS</button>
      <button class="btn btn-info mr-2" (click)="this.onEditClicked()">EDIT</button>
      <button class="btn btn-danger mr-2" (click)="this.onDeleteClicked()">REMOVE</button>
    </div>
  </div>
</div>
