<div *ngIf="user !== null">
  <div
    class="media my-border"
    [ngClass]="{'odd-element' : user.role == 0}"
  >
    <img
      class="align-self-center mr-3"
      [src]="user.role === 'ADMIN' ? '/assets/img/admin.png' : '/assets/img/user.png'"
      [alt]="user.username"
    >
    <div class="media-body">
      <h3 class="mt-1">{{user.username}}</h3>
      <div class="mt-1">
        <button class="btn btn-outline-success" (click)="this.onDetailsClicked()">DETAILS</button>
        <button class="btn btn-outline-info ml-2" (click)="this.onEditClicked()">EDIT</button>
        <button class="btn btn-outline-danger ml-2" (click)="this.onDeleteClicked()">REMOVE</button>
        <button class="btn btn-outline-primary ml-2" (click)="this.onChangeRole()">Change
          to {{user.role === 'ADMIN' ? 'USER' : 'ADMIN'}}</button>
      </div>
    </div>
  </div>
</div>
