<div *ngIf="user !== null" class="my-border">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="username">Username:</label>
      <input id="username" type="text" class="form-control" formControlName="username"/>
    </div>

    <div class="form-group">
      <label for="email">E-mail:</label>
      <input id="email" type="email" class="form-control" formControlName="email"/>
    </div>

    <div class="form-group">
      <label for="passwd">Password:</label>
      <input id="passwd" type="password" class="form-control" formControlName="password"/>
    </div>

    <div class="form-group">
      <button class="btn btn-outline-success" type="submit">Edit</button>
    </div>

  </form>
</div>
